name: Auto Build All Dependencies and DevDependencies
on:
  schedule:
    #        ┌───────────── minute (0 - 59)
    #        │ ┌───────────── hour (0 - 23)
    #        │ │  ┌───────────── day of the month (1 - 31)
    #        │ │  │  ┌───────────── month (1 - 12 or JAN-DEC)
    #        │ │  │  │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
    #        │ │  │  │ │
    #        │ │  │  │ │
    #        │ │  │  │ │
    #        * *  *  * *
    - cron: "0 0 */7 * *"
  workflow_dispatch:

permissions:
  actions: read
  checks: read
  contents: write
  deployments: read
  issues: read
  discussions: read
  packages: read
  pages: read
  pull-requests: write
  repository-projects: read
  security-events: read
  statuses: read

jobs:
  auto-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: "22.x"
          cache: npm

      # Fix the unsafe repo error which was introduced by the CVE-2022-24765 git patches.
      - name: Fix unsafe repo error
        run: git config --global --add safe.directory ${{ github.workspace }}

      - name: Update git repository
        run: git pull

      - name: Run npm install and update
        run: |
          npm ci
          npm update --save
          npm audit fix
        env:
          CI: true

      - name: Set up Git
        run: |
          git config user.name "gh-readme-profile"
          git config user.email "githubreadmeprofile@gmail.com"
          git config --global --add safe.directory ${GITHUB_WORKSPACE}

      - name: Push commit to a new branch
        run: |
          branch="auto_build_and_bump"
          message="build(deps): bump all dependencies and devDependencies version"
          body="_This pull request was created automatically._"
          if [[ "$(git status --porcelain)" != "" ]]; then
            git branch -D ${branch} || true
            git checkout -b ${branch}
            git add package.json package-lock.json
            git commit --message "${message}"
            git remote add origin-${branch} "https://github.com/FajarKim/github-readme-profile.git"
            git push --force --quiet --set-upstream origin-${branch} ${branch}
            gh pr create --title "${message}" --body "${body}"
          fi
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
