name: Generate Theme Readme
on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - "themes/index.ts"
      - "scripts/generate-theme-doc.ts"

permissions:
  actions: read
  checks: read
  contents: write
  deployments: read
  issues: read
  discussions: read
  packages: read
  pages: read
  pull-requests: write
  repository-projects: read
  security-events: read
  statuses: read

jobs:
  generate-theme-doc:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: "22.x"
          cache: npm

      # Fix the unsafe repo error which was introduced by the CVE-2022-24765 git patches.
      - name: Fix unsafe repo error
        run: git config --global --add safe.directory ${{ github.workspace }}

      - name: Run npm install and generate readme
        run: |
          npm ci
          npm run theme-readme-gen
        env:
          CI: true

      - name: Set up Git
        run: |
          git config user.name "gh-readme-profile"
          git config user.email "githubreadmeprofile@gmail.com"
          git config --global --add safe.directory ${GITHUB_WORKSPACE}

      - name: Push commit to a new branch and create prs
        run: |
          branch="auto_update_theme_readme"
          message="docs(theme): auto update theme readme"
          body="_This pull request was created automatically._"
          if [[ "$(git status --porcelain)" != "" ]]; then
            git branch -D ${branch} || true
            git checkout -b ${branch}
            git add themes/README.md
            git commit --message "${message}"
            git remote add origin-${branch} "https://github.com/FajarKim/github-readme-profile.git"
            git push --force --quiet --set-upstream origin-${branch} ${branch}
            gh pr create --title "${message}" --body "${body}"
          fi
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
